body {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif";
}
.MENU {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 2%;
    z-index: 15;
}
.MENUIMPUT:checked  ~ .ULMENU{
    display:block;
}
.MENUIMPUT {
    display: none;
    top: 4%;
    left: 2%;
}
.LABELMENU {
    color: #6b48a4;
    border-color: #000;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 65px;
    font-weight: bold;
    text-align: center;
    user-select:none;
    position: relative;
    font-size: 60px;
    margin-top: 10%;
    cursor: pointer;
    z-index: 15;

}
.LABELMENU:hover{
    background:rgb(44, 42, 42);
    border-radius: 10px
}
.ULMENU{
    display: none;
    position: relative; 
    margin: 0; 
    cursor: pointer;    
    padding:0px;
    width: 200px;
    z-index: 15;
}
.LIMENU{
    display: block;
    background: #6b48a4;
    margin: 0px;
    padding: 10px;
    list-style: none;
    z-index: 15;
}

.BOTON{
    background-color: #6b48a4;
    border-color: transparent;
    font-size:bold;
    cursor: pointer;
}

.LOGO{
position: fixed;
height:55px;
width:50px;
top:3.5%;
left: 8%;
background-color: transparent;
border-color: transparent;
}

.FOTOPRODUCTO {
    position: fixed;
    background-color: rgb(188, 179, 179);;
    border-radius: 10px;
    top:20%;
    left: 6%;
    height: 320px;
    z-index: 4;
}

.Barra-de-busqueda{
    position: fixed;
    top: 5%;
    right: 16.8%;
    width: 200px;
    height: 30px;
    background-color: rgb(188, 179, 179);
    border-radius: 25px;
    border-color: transparent;
    font-weight: bold;
    z-index: 5;

}

.barrasuperior {
    opacity: 20%;
    width: 98%;
    left: 1%;
    position: fixed;
    height: 13%;
    right: 1%;
    z-index: -10;
}

.PRODUCTNAME{
    font-weight: bold;
    color: white;
    font-size: 40px;
    position: fixed;
    top: 17%;
    right: 47%;

}

.PRODUCTDESCRIPTION{
    font-weight: lighter;
    color: white;
    font-size: 20px;
    position: fixed;
    top: 29%;
    float: initial;
    z-index: 10;
    left: 33%;
    right: 33%;
}

.NEGRO{
        border-radius: 90px;
        background-color: black;
        height: 40px;
        width: 40px;
        border: 3px;
        border-style: solid;
        position: fixed;
        top: 50%;
        left: 33%;
        cursor: pointer;
        border-color: rgb(188, 179, 179);;
}

.BLANCO{
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    border: 3px;
    border-style: solid;
    position: fixed;
    top: 50%;
    left: 37%;
    cursor: pointer;
    border-color: rgb(188, 179, 179);;
}

h3{ 
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif";
    background-color: rgb(188, 179, 179);
    width: 600px;
    top: 65%;
    position: fixed;
    left: 32%;
    border-radius: 30px;
    height: 30px;
    padding: 10px;


}
.BUY { 
    width: 12%;
    background-color: #6b48a4;
    border: transparent;
    border-radius: 18px;
    top: 69%;
    position: fixed;
    left: 65%;
    height: 6%;
    font-weight: 900;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', "sans-serif";
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s ease;
}

.BUY:hover {
    background-color: #45a049; /* Cambio de color al hacer hover */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}